POSTGRES_DB=transformation
POSTGRES_SUPERUSER_PASSWORD=<set-postgres-password>
CONTENT_DATABASE_PASSWORD=<set-content-password>
ASSESSMENT_DATABASE_PASSWORD=<set-assessment-password>
MIGRATION_DATABASE_PASSWORD=<set-migration-password>
